.holds-the-iframe {
  background:url(../images/loader.gif) center center no-repeat;
  width:fit-content;
  height:fit-content;
}

 #hostedIframe {
     position: inherit;
     top: 0;
     left: 0;
     width: 100%;
     border:none;
 }
 
 .card-name-wrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 3px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 48px;
        height: 30px;
        top: 5px;
    }


}

.cse-card-number-wrapper {
  position: relative;
}
.cse-card-number-wrapper::after {
  content: "";
  position: absolute;
  right: 3px;
  background-repeat: no-repeat;
  background-image: url("../../images/credit.png");
  background-size: contain;
  width: 48px;
  height: 30px;
  top: 5px;
}
.cse-card-number-wrapper[data-type=visa]::after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -162px -110px;
}
.cse-card-number-wrapper[data-type=mastercard]::after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -295px -110px;
}
.cse-card-number-wrapper[data-type=amex]::after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -230px -15px;
}
.cse-card-number-wrapper[data-type=discover]::after {
  background-image: url("../../images/payment-types.png");
  background-size: auto;
  background-position: -95px -110px;
}